*
  box-sizing: border-box

body
  background: $ptp-grey-light-1
  margin: 0

#dashboard
  background: $white
  border: black 1px solid
  display: grid
  grid-template-columns: 1fr 3fr
  grid-template-areas: "nav nav""menu main"
  height: 100vh

#menu-desktop
  color: red
  grid-area: menu

#main
  color: blue
  grid-area: main

#nav
  background: yellow
  color: green
  grid-area: nav
  grid-column: 1/-1
  justify-self: center
  width: 100%

h1
  color: $warning

